:root {
  --primary-color: #f0f0f5;
  --primary-dark: #98a7ba;
  --button-hover: #7b828d;
  --button-active: #5b5f68;
  --header-text: #ffb300;
  --primary-border: #595f64;
  --text-color: #222;
}

.darkmode {
  --primary-color: #2a2e3a;
  --primary-dark: #1c1f26;
  --button-hover: #444856;
  --button-active: #2a2d35;
  --header-text: #fac650;
  --primary-border: #6b7d99a5;
  --text-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.3s ease;
  font-family: 'Tiny5', monospace;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toggle-theme {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(76, 175, 80, 0);
  color: rgb(173, 86, 0);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.darkmode .toggle-theme {
  color: var(--header-text);
}

.header {
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--header-text);
  text-align: center;
  padding: 20px 0;
  top: 0;
  left: 0;
  position: fixed;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--header-text);
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.github-logo {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.calculator {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}